In [1]:
import pandas as pd
import numpy as np

DICIONÁRIO DE VARIÁVEIS - ENEM 2017

## NOME DA VARIÁVEL:

### DADOS DO PARTICIPANTE

NU_INSCRICAO

NU_ANO

CO_MUNICIPIO_RESIDENCIA

NO_MUNICIPIO_RESIDENCIA

CO_UF_RESIDENCIA

SG_UF_RESIDENCIA
NU_IDADE

TP_SEXO

TP_ESTADO_CIVIL

TP_COR_RACA

TP_NACIONALIDADE

CO_MUNICIPIO_NASCIMENTO

NO_MUNICIPIO_NASCIMENTO

CO_UF_NASCIMENTO

SG_UF_NASCIMENTO

TP_ST_CONCLUSAO

TP_ANO_CONCLUIU

TP_ESCOLA

TP_ENSINO

IN_TREINEIRO

### DADOS DA ESCOLA:

CO_ESCOLA

CO_MUNICIPIO_ESC

NO_MUNICIPIO_ESC

CO_UF_ESC

SG_UF_ESC

TP_DEPENDENCIA_ADM_ESC

TP_LOCALIZACAO_ESC

TP_SIT_FUNC_ESC

### DADOS DOS PEDIDOS DE ATENDIMENTO ESPECIALIZADO:

IN_BAIXA_VISAO

IN_CEGUEIRA

IN_SURDEZ

IN_DEFICIENCIA_AUDITIVA

IN_SURDO_CEGUEIRA

IN_DEFICIENCIA_FISICA

IN_DEFICIENCIA_MENTAL

IN_DEFICIT_ATENCAO

IN_DISLEXIA

IN_DISCALCULIA

IN_AUTISMO

IN_VISAO_MONOCULAR

IN_OUTRA_DEF

### DADOS DOS PEDIDOS DE ATENDIMENTO ESPECÍFICO:

IN_GESTANTE

IN_LACTANTE

IN_IDOSO

IN_ESTUDA_CLASSE_HOSPITALAR

### DADOS DOS PEDIDOS DE RECURSOS ESPECIALIZADOS E ESPECÍFICOS PARA REALIZAÇÃO DAS PROVAS:

IN_SEM_RECURSO

IN_BRAILLE

IN_AMPLIADA_24

IN_AMPLIADA_18

IN_LEDOR

IN_ACESSO

IN_TRANSCRICAO

IN_LIBRAS

IN_LEITURA_LABIAL

IN_MESA_CADEIRA_RODAS

IN_MESA_CADEIRA_SEPARADA

IN_APOIO_PERNA

IN_GUIA_INTERPRETE

IN_COMPUTADOR

IN_CADEIRA_ESPECIAL

IN_CADEIRA_CANHOTO

IN_CADEIRA_ACOLCHOADA

IN_PROVA_DEITADO

IN_MOBILIARIO_OBESO

IN_LAMINA_OVERLAY

IN_PROTETOR_AURICULAR

IN_MEDIDOR_GLICOSE

IN_MAQUINA_BRAILE

IN_SOROBAN

IN_MARCA_PASSO

IN_SONDA

IN_MEDICAMENTOS

IN_SALA_INDIVIDUAL

IN_SALA_ESPECIAL

IN_SALA_ACOMPANHANTE

IN_MOBILIARIO_ESPECIFICO

IN_MATERIAL_ESPECIFICO

IN_NOME_SOCIAL

### DADOS DO LOCAL DE APLICAÇÃO DA PROVA:

CO_MUNICIPIO_PROVA

NO_MUNICIPIO_PROVA

CO_UF_PROVA

SG_UF_PROVA

### DADOS DA PROVA OBJETIVA:

TP_PRESENCA_CN


TP_PRESENCA_CH


TP_PRESENCA_LC


TP_PRESENCA_MT

CO_PROVA_CN

CO_PROVA_CH

CO_PROVA_LC

CO_PROVA_MT

NU_NOTA_CN

NU_NOTA_CH

NU_NOTA_LC

NU_NOTA_MT

TX_RESPOSTAS_CN

TX_RESPOSTAS_CH

TX_RESPOSTAS_LC

TX_RESPOSTAS_MT

TP_LINGUA

TX_GABARITO_CN

TX_GABARITO_CH

TX_GABARITO_LC

TX_GABARITO_MT

### DADOS DA REDAÇÃO:

TP_STATUS_REDACAO

NU_NOTA_COMP1

NU_NOTA_COMP2

NU_NOTA_COMP3

NU_NOTA_COMP4

NU_NOTA_COMP5

NU_NOTA_REDACAO

### DADOS DO QUESTIONÁRIO SOCIOECONÔMICO:

Q001

Q002

Q003

Q004

Q005

Q006

Q007

Q008

Q009

Q010

Q011

Q012

Q013

Q014

Q015

Q016

Q017

Q018

Q019

Q020

Q021

Q022

Q023

Q024

Q025

Q026

Q027

TP_COR_RACA:

0 Não declarado

1 Branca

2 Preta

3 Parda

4 Amarela

5 Indígena

TP_ST_CONCLUSAO:

1 Já conclui o ensino médio

2 Vou concluir o ensino médio em 2017

3 Vou concluir o ensino médio após 2017

4 Nao concluí e não estou cursando

TP_ESCOLA

1 Não respondeu

2 Pública
 
3 Privada

4 Exterior

TP_DEPENDENCIA_ADM_ESC

1 Federal

2 Estadual

3 Municipal

4 Privada

Q001 - até que série seu pai estudou?

A - nunca estudo

B - Não completou 4 série

C - Completou 4 série, mas não 8

D - Completou 8 série, mas não o médio

E - Completou o médio, mas náo faculdade

F - Completou faculdade, mas não pós graduação

G - completou pós

H - não sei

Q002 - até que série sua mãe estudou?

A - nunca estudo

B - Não completou 4 série

C - Completou 4 série, mas não 8

D - Completou 8 série, mas não o médio

E - Completou o médio, mas náo faculdade

F - Completou faculdade, mas não pós graduação

G - completou pós

H - não sei

Q006 - qual é a renda mensal da sua família?

A - nenhuma 

B - até 937

C - de 937 a 1405

D - de 1045 a 1874

E - de 1874 a 2342

F - de 2342 ate 2811

G - de 2811 ate 3748

H - de 3748 ate 4685

I - de 4685 ate 5622

J - de 5622 ate 6559

K - de 6559 ate 7496

L - de 7496 ate 8433

M - de 8433 ate 9370

N - de 9370 ate 11244

O - de 11244 ate 14055

P - de 14055 ate 18740

Q - maior de 18740

Q025 - na sua residencia tem acesso a internet?

A - Náo

B - sim

In [96]:
data1 = pd.read_csv('MICRODADOS_ENEM_2017.csv', encoding = 'latin1', sep = ';', usecols = ['NO_MUNICIPIO_RESIDENCIA',
                                                                                       'SG_UF_RESIDENCIA',
                                                                                       'NU_IDADE',
                                                                                       'TP_SEXO',
                                                                                       'TP_COR_RACA',
                                                                                       'TP_ST_CONCLUSAO',
                                                                                       'TP_ANO_CONCLUIU',
                                                                                       'TP_ESCOLA',
                                                                                       'TP_DEPENDENCIA_ADM_ESC',
                                                                                       'NU_NOTA_CH',
                                                                                       'NU_NOTA_CN',
                                                                                       'NU_NOTA_LC',
                                                                                       'NU_NOTA_LC',
                                                                                       'NU_NOTA_MT',
                                                                                       'NU_NOTA_REDACAO',
                                                                                       'Q001',
                                                                                       'Q002',
                                                                                       'Q006',
                                                                                       'Q025'])

In [97]:
data1.head()

,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,Q001,Q002,Q006,Q025
0,Araraquara,SP,29.0,F,1,1,11,1,NaN,445.4,589.0,621.5,465.5,560.0,E,D,D,B
1,Cassilândia,MS,22.0,F,1,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN,C,E,C,A
2,São Paulo,SP,38.0,F,1,1,11,1,NaN,NaN,NaN,NaN,NaN,NaN,A,A,G,B
3,Lages,SC,35.0,F,1,1,6,1,NaN,604.0,610.4,563.9,591.2,580.0,E,D,D,B
4,Maceió,AL,40.0,M,3,1,11,1,NaN,482.1,569.2,570.8,584.6,580.0,A,B,C,B

In [98]:
data1.shape

(6731341, 18)

In [99]:
data1.dropna(how = 'any', inplace = True, axis = 0)

In [100]:
data = data1.copy()

In [101]:
data.shape

(1384896, 18)

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1384896 entries, 47 to 6731340
Data columns (total 18 columns):
NO_MUNICIPIO_RESIDENCIA    1384896 non-null object
SG_UF_RESIDENCIA           1384896 non-null object
NU_IDADE                   1384896 non-null float64
TP_SEXO                    1384896 non-null object
TP_COR_RACA                1384896 non-null int64
TP_ST_CONCLUSAO            1384896 non-null int64
TP_ANO_CONCLUIU            1384896 non-null int64
TP_ESCOLA                  1384896 non-null int64
TP_DEPENDENCIA_ADM_ESC     1384896 non-null float64
NU_NOTA_CN                 1384896 non-null float64
NU_NOTA_CH                 1384896 non-null float64
NU_NOTA_LC                 1384896 non-null float64
NU_NOTA_MT                 1384896 non-null float64
NU_NOTA_REDACAO            1384896 non-null float64
Q001                       1384896 non-null object
Q002                       1384896 non-null object
Q006                       1384896 non-null object
Q025                       1384896 non-null object
dtypes: float64(7), int64(4), object(7)
memory usage: 200.8+ MB

In [103]:
data.head()

,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,Q001,Q002,Q006,Q025
47,Itacoatiara,AM,17.0,M,3,2,0,3,4.0,540.7,583.0,472.9,405.1,580.0,E,G,P,B
84,Salvador,BA,31.0,F,2,2,0,2,2.0,396.4,401.6,350.7,494.2,280.0,G,G,Q,A
92,São Paulo,SP,17.0,F,3,2,0,2,2.0,452.8,451.3,529.1,439.1,520.0,E,E,F,B
112,Santa Bárbara d'Oeste,SP,18.0,F,2,2,0,2,2.0,496.0,484.3,515.7,531.8,520.0,D,D,D,B
117,Lapão,BA,17.0,M,1,2,0,3,4.0,591.1,689.6,604.8,704.9,800.0,C,F,B,A

In [104]:
data.drop('NO_MUNICIPIO_RESIDENCIA', axis = 1, inplace = True)
data['NU_NOTA_MED'] = (data.NU_NOTA_CH + data.NU_NOTA_CN + data.NU_NOTA_LC + data.NU_NOTA_MT + data.NU_NOTA_REDACAO)/5

In [105]:
data.head()

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,Q001,Q002,Q006,Q025,NU_NOTA_MED
47,AM,17.0,M,3,2,0,3,4.0,540.7,583.0,472.9,405.1,580.0,E,G,P,B,516.34
84,BA,31.0,F,2,2,0,2,2.0,396.4,401.6,350.7,494.2,280.0,G,G,Q,A,384.58
92,SP,17.0,F,3,2,0,2,2.0,452.8,451.3,529.1,439.1,520.0,E,E,F,B,478.46
112,SP,18.0,F,2,2,0,2,2.0,496.0,484.3,515.7,531.8,520.0,D,D,D,B,509.56
117,BA,17.0,M,1,2,0,3,4.0,591.1,689.6,604.8,704.9,800.0,C,F,B,A,678.08

In [106]:
data.drop(['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO'], axis = 1, inplace = True)

In [107]:
data.drop(['Q002','Q001','TP_DEPENDENCIA_ADM_ESC','TP_ST_CONCLUSAO'], axis = 1 , inplace = True)

In [108]:
data.head()

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,Q006,Q025,NU_NOTA_MED
47,AM,17.0,M,3,0,3,P,B,516.34
84,BA,31.0,F,2,0,2,Q,A,384.58
92,SP,17.0,F,3,0,2,F,B,478.46
112,SP,18.0,F,2,0,2,D,B,509.56
117,BA,17.0,M,1,0,3,B,A,678.08

In [109]:
raca = {0: 'Nao_declarado', 1:'Branca', 2:'Preta', 3:'Parda', 4:'Amarela', 5:'Indigena'}
escola = {1: 'Nao_respondeu', 2:'Publica', 3: 'Privado', 4:'Exterior'}
q006 = {'A':0, 'B':937, 'C':1405, 'D':1874, 'E':2342, 'F':2811, 'G':3748, 'H':4685,
       'I':5622, 'J':6559, 'K':7496, 'L':8433, 'M':9370, 'N':1244, 'O':14055, 'P':18740, 'Q':22000}
q025 = {'A':'nao', 'B':'sim'}

In [110]:
data.TP_COR_RACA = data.TP_COR_RACA.map(raca)
data.TP_ESCOLA = data.TP_ESCOLA.map(escola)
data.Q006 = data.Q006.map(q006)
data.Q025 = data.Q025.map(q025)
data.head()

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,Q006,Q025,NU_NOTA_MED
47,AM,17.0,M,Parda,0,Privado,18740,sim,516.34
84,BA,31.0,F,Preta,0,Publica,22000,nao,384.58
92,SP,17.0,F,Parda,0,Publica,2811,sim,478.46
112,SP,18.0,F,Preta,0,Publica,1874,sim,509.56
117,BA,17.0,M,Branca,0,Privado,937,nao,678.08

In [111]:
#Os dados foram categorizados em colunas com o valor 0 ou 1

In [112]:
data = pd.get_dummies(data, columns=['SG_UF_RESIDENCIA','TP_SEXO','TP_COR_RACA','TP_ESCOLA','Q006','Q025'])

In [113]:
data.head()

,NU_IDADE,TP_ANO_CONCLUIU,NU_NOTA_MED,SG_UF_RESIDENCIA_AC,SG_UF_RESIDENCIA_AL,SG_UF_RESIDENCIA_AM,SG_UF_RESIDENCIA_AP,SG_UF_RESIDENCIA_BA,SG_UF_RESIDENCIA_CE,SG_UF_RESIDENCIA_DF,...,Q006_5622,Q006_6559,Q006_7496,Q006_8433,Q006_9370,Q006_14055,Q006_18740,Q006_22000,Q025_nao,Q025_sim
47,17.0,0,516.34,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
84,31.0,0,384.58,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
92,17.0,0,478.46,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
112,18.0,0,509.56,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
117,17.0,0,678.08,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [114]:
data.columns

Index(['NU_IDADE', 'TP_ANO_CONCLUIU', 'NU_NOTA_MED', 'SG_UF_RESIDENCIA_AC',
       'SG_UF_RESIDENCIA_AL', 'SG_UF_RESIDENCIA_AM', 'SG_UF_RESIDENCIA_AP',
       'SG_UF_RESIDENCIA_BA', 'SG_UF_RESIDENCIA_CE', 'SG_UF_RESIDENCIA_DF',
       'SG_UF_RESIDENCIA_ES', 'SG_UF_RESIDENCIA_GO', 'SG_UF_RESIDENCIA_MA',
       'SG_UF_RESIDENCIA_MG', 'SG_UF_RESIDENCIA_MS', 'SG_UF_RESIDENCIA_MT',
       'SG_UF_RESIDENCIA_PA', 'SG_UF_RESIDENCIA_PB', 'SG_UF_RESIDENCIA_PE',
       'SG_UF_RESIDENCIA_PI', 'SG_UF_RESIDENCIA_PR', 'SG_UF_RESIDENCIA_RJ',
       'SG_UF_RESIDENCIA_RN', 'SG_UF_RESIDENCIA_RO', 'SG_UF_RESIDENCIA_RR',
       'SG_UF_RESIDENCIA_RS', 'SG_UF_RESIDENCIA_SC', 'SG_UF_RESIDENCIA_SE',
       'SG_UF_RESIDENCIA_SP', 'SG_UF_RESIDENCIA_TO', 'TP_SEXO_F', 'TP_SEXO_M',
       'TP_COR_RACA_Amarela', 'TP_COR_RACA_Branca', 'TP_COR_RACA_Indigena',
       'TP_COR_RACA_Nao_declarado', 'TP_COR_RACA_Parda', 'TP_COR_RACA_Preta',
       'TP_ESCOLA_Exterior', 'TP_ESCOLA_Nao_respondeu', 'TP_ESCOLA_Privado',
       'TP_ESCOLA_Publica', 'Q006_0', 'Q006_937', 'Q006_1244', 'Q006_1405',
       'Q006_1874', 'Q006_2342', 'Q006_2811', 'Q006_3748', 'Q006_4685',
       'Q006_5622', 'Q006_6559', 'Q006_7496', 'Q006_8433', 'Q006_9370',
       'Q006_14055', 'Q006_18740', 'Q006_22000', 'Q025_nao', 'Q025_sim'],
      dtype='object')

In [116]:
Y = data.NU_NOTA_MED
data.drop('NU_NOTA_MED', axis = 1, inplace = True)

In [ ]:
#Fazendo a normalizacao das variaveis independentes e da variavel dependente

In [118]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(data)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [119]:
data = scaler.transform(data)

In [122]:
scaler.fit(np.array(Y).reshape(-1,1))
Y = scaler.transform(np.array(Y).reshape(-1,1))

In [123]:
data

array([[-0.35550575,  0.        , -0.07643502, ..., -0.11591131,
        -0.62225296,  0.62225296],
       [ 3.76183843,  0.        , -0.07643502, ...,  8.62728609,
         1.60706346, -1.60706346],
       [-0.35550575,  0.        , -0.07643502, ..., -0.11591131,
        -0.62225296,  0.62225296],
       ...,
       [-0.35550575,  0.        , -0.07643502, ..., -0.11591131,
        -0.62225296,  0.62225296],
       [ 9.34966268,  0.        , -0.07643502, ..., -0.11591131,
        -0.62225296,  0.62225296],
       [ 0.23268628,  0.        , -0.07643502, ..., -0.11591131,
        -0.62225296,  0.62225296]])

In [124]:
Y

array([[ 0.00354034],
       [-1.61978869],
       [-0.46315443],
       ...,
       [ 0.80707343],
       [-0.77781612],
       [ 1.30259781]])

In [125]:
from sklearn.model_selection import train_test_split
X_train, X_teste, Y_train, Y_test = train_test_split(data, Y, test_size = 0.25, random_state = 0)

In [127]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, Y_train)
lm.score(X_train, Y_train)

0.3380010443927911

In [129]:
lm.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': 1, 'normalize': False}

In [130]:
lm.coef_

array([[-1.35060255e-01,  1.49018858e+11,  9.59368071e+07,
         1.53408036e+08,  1.83986445e+08,  9.95486904e+07,
         2.98313528e+08,  3.16009290e+08,  1.73622589e+08,
         1.88567268e+08,  2.32530210e+08,  2.37733420e+08,
         3.80030365e+08,  1.34849558e+08,  1.63680148e+08,
         2.56869658e+08,  1.77211773e+08,  2.66801829e+08,
         1.79538844e+08,  2.85294210e+08,  3.30499505e+08,
         1.62678624e+08,  1.25691143e+08,  6.49215670e+07,
         2.62526438e+08,  1.72423184e+08,  1.34928740e+08,
         5.11929003e+08,  1.22102488e+08,  1.56615826e+11,
         1.56615826e+11, -5.87749116e+08, -1.91888628e+09,
        -3.07705239e+08, -5.44350569e+08, -1.95113529e+09,
        -1.23823477e+09,  2.05624281e+09,  1.01603473e+08,
         1.59010871e+10,  1.59810765e+10,  1.53113955e+09,
         3.67056644e+09,  9.46956636e+08,  3.38881964e+09,
         2.53190930e+09,  2.26033288e+09,  1.88325124e+09,
         1.99460176e+09,  1.69987074e+09,  1.48132111e+09,
         1.19203790e+09,  9.43099001e+08,  8.42156662e+08,
         7.81794306e+08,  7.97019826e+08,  7.49832862e+08,
         9.44826840e+08, -9.46513895e+09, -9.46513895e+09]])