In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DICIONÁRIO DE VARIÁVEIS - ENEM 2017

## NOME DA VARIÁVEL:

### DADOS DO PARTICIPANTE

NU_INSCRICAO

NU_ANO

CO_MUNICIPIO_RESIDENCIA

NO_MUNICIPIO_RESIDENCIA

CO_UF_RESIDENCIA

SG_UF_RESIDENCIA
NU_IDADE

TP_SEXO

TP_ESTADO_CIVIL

TP_COR_RACA

TP_NACIONALIDADE

CO_MUNICIPIO_NASCIMENTO

NO_MUNICIPIO_NASCIMENTO

CO_UF_NASCIMENTO

SG_UF_NASCIMENTO

TP_ST_CONCLUSAO

TP_ANO_CONCLUIU

TP_ESCOLA

TP_ENSINO

IN_TREINEIRO

### DADOS DA ESCOLA:

CO_ESCOLA

CO_MUNICIPIO_ESC

NO_MUNICIPIO_ESC

CO_UF_ESC

SG_UF_ESC

TP_DEPENDENCIA_ADM_ESC

TP_LOCALIZACAO_ESC

TP_SIT_FUNC_ESC

### DADOS DOS PEDIDOS DE ATENDIMENTO ESPECIALIZADO:

IN_BAIXA_VISAO

IN_CEGUEIRA

IN_SURDEZ

IN_DEFICIENCIA_AUDITIVA

IN_SURDO_CEGUEIRA

IN_DEFICIENCIA_FISICA

IN_DEFICIENCIA_MENTAL

IN_DEFICIT_ATENCAO

IN_DISLEXIA

IN_DISCALCULIA

IN_AUTISMO

IN_VISAO_MONOCULAR

IN_OUTRA_DEF

### DADOS DOS PEDIDOS DE ATENDIMENTO ESPECÍFICO:

IN_GESTANTE

IN_LACTANTE

IN_IDOSO

IN_ESTUDA_CLASSE_HOSPITALAR

### DADOS DOS PEDIDOS DE RECURSOS ESPECIALIZADOS E ESPECÍFICOS PARA REALIZAÇÃO DAS PROVAS:

IN_SEM_RECURSO

IN_BRAILLE

IN_AMPLIADA_24

IN_AMPLIADA_18

IN_LEDOR

IN_ACESSO

IN_TRANSCRICAO

IN_LIBRAS

IN_LEITURA_LABIAL

IN_MESA_CADEIRA_RODAS

IN_MESA_CADEIRA_SEPARADA

IN_APOIO_PERNA

IN_GUIA_INTERPRETE

IN_COMPUTADOR

IN_CADEIRA_ESPECIAL

IN_CADEIRA_CANHOTO

IN_CADEIRA_ACOLCHOADA

IN_PROVA_DEITADO

IN_MOBILIARIO_OBESO

IN_LAMINA_OVERLAY

IN_PROTETOR_AURICULAR

IN_MEDIDOR_GLICOSE

IN_MAQUINA_BRAILE

IN_SOROBAN

IN_MARCA_PASSO

IN_SONDA

IN_MEDICAMENTOS

IN_SALA_INDIVIDUAL

IN_SALA_ESPECIAL

IN_SALA_ACOMPANHANTE

IN_MOBILIARIO_ESPECIFICO

IN_MATERIAL_ESPECIFICO

IN_NOME_SOCIAL

### DADOS DO LOCAL DE APLICAÇÃO DA PROVA:

CO_MUNICIPIO_PROVA

NO_MUNICIPIO_PROVA

CO_UF_PROVA

SG_UF_PROVA

### DADOS DA PROVA OBJETIVA:

TP_PRESENCA_CN


TP_PRESENCA_CH


TP_PRESENCA_LC


TP_PRESENCA_MT

CO_PROVA_CN

CO_PROVA_CH

CO_PROVA_LC

CO_PROVA_MT

NU_NOTA_CN

NU_NOTA_CH

NU_NOTA_LC

NU_NOTA_MT

TX_RESPOSTAS_CN

TX_RESPOSTAS_CH

TX_RESPOSTAS_LC

TX_RESPOSTAS_MT

TP_LINGUA

TX_GABARITO_CN

TX_GABARITO_CH

TX_GABARITO_LC

TX_GABARITO_MT

### DADOS DA REDAÇÃO:

TP_STATUS_REDACAO

NU_NOTA_COMP1

NU_NOTA_COMP2

NU_NOTA_COMP3

NU_NOTA_COMP4

NU_NOTA_COMP5

NU_NOTA_REDACAO

### DADOS DO QUESTIONÁRIO SOCIOECONÔMICO:

Q001

Q002

Q003

Q004

Q005

Q006

Q007

Q008

Q009

Q010

Q011

Q012

Q013

Q014

Q015

Q016

Q017

Q018

Q019

Q020

Q021

Q022

Q023

Q024

Q025

Q026

Q027

TP_COR_RACA:

0 Não declarado

1 Branca

2 Preta

3 Parda

4 Amarela

5 Indígena

TP_ST_CONCLUSAO:

1 Já conclui o ensino médio

2 Vou concluir o ensino médio em 2017

3 Vou concluir o ensino médio após 2017

4 Nao concluí e não estou cursando

TP_ESCOLA

1 Não respondeu

2 Pública
 
3 Privada

4 Exterior

TP_DEPENDENCIA_ADM_ESC

1 Federal

2 Estadual

3 Municipal

4 Privada

Q001 - até que série seu pai estudou?

A - nunca estudo

B - Não completou 4 série

C - Completou 4 série, mas não 8

D - Completou 8 série, mas não o médio

E - Completou o médio, mas náo faculdade

F - Completou faculdade, mas não pós graduação

G - completou pós

H - não sei

Q002 - até que série sua mãe estudou?

A - nunca estudo

B - Não completou 4 série

C - Completou 4 série, mas não 8

D - Completou 8 série, mas não o médio

E - Completou o médio, mas náo faculdade

F - Completou faculdade, mas não pós graduação

G - completou pós

H - não sei

Q006 - qual é a renda mensal da sua família?

A - nenhuma 

B - até 937

C - de 937 a 1405

D - de 1045 a 1874

E - de 1874 a 2342

F - de 2342 ate 2811

G - de 2811 ate 3748

H - de 3748 ate 4685

I - de 4685 ate 5622

J - de 5622 ate 6559

K - de 6559 ate 7496

L - de 7496 ate 8433

M - de 8433 ate 9370

N - de 9370 ate 11244

O - de 11244 ate 14055

P - de 14055 ate 18740

Q - maior de 18740

Q025 - na sua residencia tem acesso a internet?

A - Náo

B - sim

## Primeira tentativa usando algumas colunas

In [3]:
#leitura dos dados
data1 = pd.read_csv('MICRODADOS_ENEM_2017.csv', encoding = 'latin1', sep = ';', usecols = ['SG_UF_RESIDENCIA',
                                                                                       'NU_IDADE',
                                                                                       'TP_SEXO',
                                                                                       'TP_COR_RACA',
                                                                                       'TP_ST_CONCLUSAO',
                                                                                       'TP_ANO_CONCLUIU',
                                                                                       'TP_ESCOLA',
                                                                                       'TP_DEPENDENCIA_ADM_ESC',
                                                                                       'NU_NOTA_CH',
                                                                                       'NU_NOTA_CN',
                                                                                       'NU_NOTA_LC',
                                                                                       'NU_NOTA_LC',
                                                                                       'NU_NOTA_MT',
                                                                                       'NU_NOTA_REDACAO',
                                                                                       'Q001',
                                                                                       'Q002',
                                                                                       'Q006',
                                                                                       'Q025'])
#limpeza dos campos NaN
data1.dropna(how = 'any', inplace = True, axis = 0)
data = data1.copy()
#criação do target
data['NU_NOTA_MED'] = (data.NU_NOTA_CH + data.NU_NOTA_CN + data.NU_NOTA_LC + data.NU_NOTA_MT + data.NU_NOTA_REDACAO)/5
#apgando algumas colunas que não quero
data.drop(['NO_MUNICIPIO_RESIDENCIA',
           'Q002',
           'Q001',
           'TP_DEPENDENCIA_ADM_ESC',
           'TP_ST_CONCLUSAO',
           'NU_NOTA_CN',
           'NU_NOTA_CH',
           'NU_NOTA_LC',
           'NU_NOTA_MT',
           'NU_NOTA_REDACAO'], axis = 1, inplace = True)

In [5]:
#criação dos dicionários para mapeamento
raca = {0: 'nao_declarado', 1:'branca', 2:'preta', 3:'parda', 4:'amarela', 5:'indigena'}
escola = {1: 'nao_respondeu', 2:'publica', 3: 'privado', 4:'exterior'}
q006 = {'A':0, 'B':900, 'C':1400, 'D':1900, 'E':2300, 'F':2800, 'G':3700, 'H':4600,
       'I':5600, 'J':6600, 'K':7500, 'L':8400, 'M':9400, 'N':12000, 'O':14000, 'P':18700, 'Q':22000}
q025 = {'A':'nao', 'B':'sim'}
#fazendo o mapeamento
data.TP_COR_RACA = data.TP_COR_RACA.map(raca)
data.TP_ESCOLA = data.TP_ESCOLA.map(escola)
data.Q006 = data.Q006.map(q006)
data.Q025 = data.Q025.map(q025)
#categorizando os dados (todos serão colunas indivuduais com valores 0 ou 1)
data = pd.get_dummies(data, columns=['SG_UF_RESIDENCIA','TP_SEXO','TP_COR_RACA','TP_ESCOLA','Q006','Q025'])

In [7]:
#criando o target e tirando o target do dataframe
target = data.NU_NOTA_MED
data.drop('NU_NOTA_MED', axis = 1, inplace = True)
#Fazendo a normalizacao das variaveis independentes e da variavel dependente
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(data)
data = scaler.transform(data)
scaler = StandardScaler()
scaler.fit(np.array(target).reshape(-1,1))
Y = scaler.transform(np.array(target).reshape(-1,1))

In [10]:
#rodando o PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=0.95)
pca.fit(data)
data = pca.transform(data)

In [12]:
#criando grupos de treino e teste
from sklearn.model_selection import train_test_split
X_train, X_teste, Y_train, Y_test = train_test_split(data, target , test_size = 0.25, random_state = 0)

In [13]:
#rodando o modelo linear
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, Y_train)
lm.score(X_train, Y_train)

0.3242586785873458

In [15]:
lm.score(X_teste,Y_test)

0.32542984607578307

## Uma nova tentativa, dessa vez vou pegar mais colunas dos dados originais

In [38]:
#data1 = pd.read_csv('MICRODADOS_ENEM_2017.csv', encoding = 'latin1', sep = ';', usecols = ['SG_UF_RESIDENCIA',
'''                                                                                    'NU_IDADE',
                                                                                       'TP_SEXO',
                                                                                       'TP_COR_RACA',
                                                                                       'TP_ST_CONCLUSAO',
                                                                                       'TP_ANO_CONCLUIU',
                                                                                       'TP_ESCOLA',
                                                                                       'IN_TREINEIRO',
                                                                                       'TP_DEPENDENCIA_ADM_ESC',
                                                                                       'NU_NOTA_CH',
                                                                                       'NU_NOTA_CN',
                                                                                       'NU_NOTA_LC',
                                                                                       'NU_NOTA_LC',
                                                                                       'NU_NOTA_MT',
                                                                                       'NU_NOTA_REDACAO',
                                                                                       'Q001',
                                                                                       'Q002',
                                                                                       'Q006',
                                                                                       'Q024',
                                                                                       'Q025']) '''
#limpeza dos campos NaN
#data1.dropna(how = 'any', inplace = True, axis = 0)
data = data1.copy()
#criação do target
data['NU_NOTA_MED'] = (data.NU_NOTA_CH + data.NU_NOTA_CN + data.NU_NOTA_LC + data.NU_NOTA_MT + data.NU_NOTA_REDACAO)/5

In [39]:
data.drop(['NU_NOTA_CH','NU_NOTA_CN','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO'], axis =1 , inplace = True)

In [40]:
data = pd.get_dummies(data, columns=['SG_UF_RESIDENCIA','TP_SEXO','TP_COR_RACA','TP_ST_CONCLUSAO','TP_ESCOLA','TP_DEPENDENCIA_ADM_ESC','Q001','Q002','Q006','Q024','Q025'])

In [41]:
#criando o target e tirando o target do dataframe
target = data.NU_NOTA_MED
data.drop('NU_NOTA_MED', axis = 1, inplace = True)
#Fazendo a normalizacao das variaveis independentes e da variavel dependente
scaler = StandardScaler()
scaler.fit(data)
data = scaler.transform(data)
scaler = StandardScaler()
scaler.fit(np.array(target).reshape(-1,1))
Y = scaler.transform(np.array(target).reshape(-1,1))

In [42]:
pca = PCA(n_components=0.95)
pca.fit(data)
data = pca.transform(data)

In [43]:
X_train, X_teste, Y_train, Y_test = train_test_split(data, target , test_size = 0.20, random_state = 1)

In [44]:
lm = LinearRegression()
lm.fit(X_train, Y_train)
lm.score(X_train, Y_train)

0.3793323136400779

In [45]:
lm.score(X_teste, Y_test)

0.38002087978690213

## Mais uma tentativa, dessa vez usando cross-validation

In [3]:
#leitura dos dados
data1 = pd.read_csv('MICRODADOS_ENEM_2017.csv', encoding = 'latin1', sep = ';', usecols = ['SG_UF_RESIDENCIA',
                                                                                       'NU_IDADE',
                                                                                       'TP_SEXO',
                                                                                       'TP_COR_RACA',
                                                                                       'TP_ST_CONCLUSAO',
                                                                                       'TP_ANO_CONCLUIU',
                                                                                       'TP_ESCOLA',
                                                                                       'TP_DEPENDENCIA_ADM_ESC',
                                                                                       'NU_NOTA_CH',
                                                                                       'NU_NOTA_CN',
                                                                                       'NU_NOTA_LC',
                                                                                       'NU_NOTA_LC',
                                                                                       'NU_NOTA_MT',
                                                                                       'NU_NOTA_REDACAO',
                                                                                       'Q001',
                                                                                       'Q002',
                                                                                       'Q006',
                                                                                       'Q025'])
#limpeza dos campos NaN
data1.dropna(how = 'any', inplace = True, axis = 0)
data = data1.copy()
#criação do target
data['NU_NOTA_MED'] = (data.NU_NOTA_CH + data.NU_NOTA_CN + data.NU_NOTA_LC + data.NU_NOTA_MT + data.NU_NOTA_REDACAO)/5
#apgando colunas das notas
data.drop(['NU_NOTA_CN',
           'NU_NOTA_CH',
           'NU_NOTA_LC',
           'NU_NOTA_MT',
           'NU_NOTA_REDACAO'], axis = 1, inplace = True)
#criando as dummies
data = pd.get_dummies(data, columns=['SG_UF_RESIDENCIA','TP_SEXO','TP_COR_RACA','TP_ST_CONCLUSAO','TP_ESCOLA','TP_DEPENDENCIA_ADM_ESC','Q001','Q002','Q006','Q025'])
#criando o target e tirando o target do dataframe
target = data.NU_NOTA_MED
data.drop('NU_NOTA_MED', axis = 1, inplace = True)

In [4]:
data.head()

,NU_IDADE,TP_ANO_CONCLUIU,SG_UF_RESIDENCIA_AC,SG_UF_RESIDENCIA_AL,SG_UF_RESIDENCIA_AM,SG_UF_RESIDENCIA_AP,SG_UF_RESIDENCIA_BA,SG_UF_RESIDENCIA_CE,SG_UF_RESIDENCIA_DF,SG_UF_RESIDENCIA_ES,...,Q006_J,Q006_K,Q006_L,Q006_M,Q006_N,Q006_O,Q006_P,Q006_Q,Q025_A,Q025_B
47,17.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
84,31.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
92,17.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
112,18.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
117,17.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
def modelo_linear():
    kf = KFold(n_splits = 5)
    coe = []
    scor = []
    for train_index, test_index in kf.split(data):
        #separando em x,y treino e x,y teste
        x_train, x_test = np.array(data)[train_index], np.array(data)[test_index]
        y_train, y_test = np.array(target)[train_index], np.array(target)[test_index]
        #fit o scaler com base no train, transform train e test
        scaler = StandardScaler()
        scaler.fit(x_train)
        x_train_scaled = scaler.transform(x_train)
        x_test_scaled = scaler.transform(x_test)
        #fit o pca com base no train, transform train e test
        pca = PCA(0.95)
        pca.fit(x_train_scaled)
        x_train_scaled = pca.transform(x_train_scaled)
        x_test = pca.transform(x_test_scaled)
        #fitando o linear regression no train, avaliando no test
        lm = LinearRegression()
        lm.fit(x_train_scaled, y_train)        
        scor.append(lm.score(x_test, y_test))
        coe.append(lm.coef_)
    return scor, coe

In [10]:
modelo_linear()

([0.2954104647251016,
  0.3697710446765956,
  0.39650603397066353,
  0.35870444516886607,
  0.18523393884968423],
 [array([ 1.92149942e+01, -5.91353694e-01, -5.08000257e-01, -5.35782344e-01,
         -1.04876336e+00, -4.03950263e+00, -8.69905832e-01,  7.41088175e-01,
          1.96151593e+00, -3.58653350e+00,  2.82910046e+00, -1.06942275e+00,
          5.95435887e+00,  4.87913824e+00, -5.90168035e-01,  1.43965575e+00,
          4.95596172e-01, -1.39877935e+00, -7.86467894e-01,  1.68777843e+00,
          9.26355337e-02, -1.64764979e+00, -2.03229060e+00,  1.67168844e-01,
          1.08733717e-01, -1.13107923e+00,  1.50710445e+00, -2.76854386e-01,
          5.39378625e-01, -1.77565761e+00,  1.50388326e-01,  3.54198484e-01,
         -1.11318051e+00,  6.35039855e-01,  3.34326416e-01, -7.01960594e-01,
          1.16251170e+00, -6.52948057e-01, -7.68390887e-01, -4.94169984e-01,
         -2.72958441e-01,  3.78739691e-01,  2.76772836e-01,  4.38887330e-01,
         -4.84716802e-01, -2.00276049e-01,  1.57944415e-02, -2.09779578e-01,
          1.30119825e+00,  1.72550664e+00,  2.46545910e+00, -2.43854169e+00,
         -1.61279130e+00, -6.99563825e-01, -7.18476348e+00, -1.84904230e+00,
         -3.65961343e-01, -2.13889602e+00,  1.70800241e+00, -2.27021930e+00,
         -4.62902547e+00]),
  array([ 1.94299087e+01, -1.09012556e+00, -5.65864571e-01, -6.39818380e-01,
         -8.43251597e-01, -4.36453784e+00, -2.86030430e-01, -1.23461389e+00,
          3.22135347e+00, -4.33141045e+00,  2.02060784e+00, -1.67306411e+00,
          6.40153456e+00, -4.03668267e+00, -7.03642904e-01,  1.44804440e+00,
         -9.81109037e-01, -1.02433686e+00, -1.95934207e-01, -1.72195445e+00,
          2.25126455e-01, -1.50067300e+00, -2.51045513e+00,  4.46513988e-01,
          1.24421127e-02, -1.26725727e+00,  1.65110920e+00,  9.35492490e-01,
         -1.34100463e+00, -1.14098975e+00,  1.05652399e+00, -1.71475533e-01,
         -2.71361048e-01,  2.15086850e+00, -4.06946141e-01, -3.66552375e-01,
         -7.57627162e-01,  3.07596753e-01, -1.12687037e-02,  7.03005295e-01,
          4.48484967e-01,  8.03298514e-01, -5.31277129e-01, -2.09356973e-01,
          6.05728205e-01,  2.55104476e-01, -8.66424310e-02,  6.09626973e-01,
          1.51947559e+00,  1.97827005e+00, -2.48386342e+00, -6.80389465e-01,
         -1.63226884e+00,  2.01434500e+00, -1.32958929e+00, -5.81412525e-01,
         -7.29168152e+00, -1.48884277e+00, -2.87593719e-01, -2.54717495e+00,
          1.99459672e+00, -1.98787072e+00, -4.84635102e+00]),
  array([ 1.92664211e+01, -1.10467962e+00, -5.19338385e-01, -7.93956254e-01,
         -5.87338661e-01, -4.40430857e+00, -3.90410080e-01, -1.40789424e+00,
          1.91378549e+00, -4.65320866e+00,  2.26739548e+00, -7.58126870e-01,
          6.50380499e+00, -3.54616045e+00, -1.54643123e+00,  1.50222867e+00,
         -1.40109922e+00, -1.08884543e+00, -5.48786110e-01, -1.63351771e+00,
          9.16991316e-03, -2.01847923e+00, -2.11921674e+00,  3.18810370e-01,
          4.66821291e-01,  6.22447784e-01, -2.32243142e+00,  1.06432552e+00,
         -1.26113216e+00,  1.36579296e+00,  5.72526412e-01,  8.39518900e-01,
         -4.44012567e-01,  1.09451158e+00,  1.98598493e+00,  2.62721485e-01,
         -4.16243381e-01, -8.15302922e-01,  2.15766088e-01,  1.00357185e-02,
         -5.97075309e-02, -5.59748914e-01,  4.27868000e-01,  2.73651115e-01,
          1.39061129e+00,  1.58176811e-01, -6.16976307e-01, -2.67988855e-01,
          1.67883363e+00,  1.98394131e+00, -1.93811073e+00, -1.90944867e+00,
         -1.32913571e+00, -1.78809655e+00, -1.07359731e+00, -5.49339749e-01,
         -7.36045058e+00, -2.95420094e+00,  5.54472819e-01, -2.74340298e+00,
          1.78952476e+00, -1.95704082e+00, -4.60049824e+00]),
  array([19.72088706, -1.07563112, -0.18599368, -0.81014605, -0.78398274,
         -4.40173515, -0.52674746, -1.3973323 ,  2.36314782, -4.71869382,
          2.00040881,  0.25687263,  6.70357479, -3.43745577, -1.61668709,
          1.58646119, -1.05465474, -0.77672674, -0.75369603, -1.86614141,
          0.51455879,  1.24465643, -3.01248324,  0.22003856,  0.6743315 ,
          1.78253216, -1.15320105,  1.12671759, -1.29383191,  1.31876715,
          0.69867176, -0.13671427,  0.49255767,  1.10229211,  2.09649379,
          0.46008121, -0.65897918, -0.2665176 , -0.36631965, -0.0611817 ,
          0.84913975, -0.71868755,  0.37098741,  0.20414868,  0.51944244,
         -0.02765385, -0.82360881, -0.35716603,  1.21540745,  1.40862924,
          2.17789325, -1.79511594, -1.78395534, -0.84891863,  1.65080329,
         -1.60689098, -7.48614558, -2.73591575,  1.09249631, -2.42013037,
          1.88234137, -1.85735561, -4.52660202]),
  array([19.91668473, -0.77315373,  0.32039283, -0.55667285, -1.45337394,
         -4.03675124, -0.19538164, -1.36000945,  4.23051254, -3.12560167,
          0.9216486 ,  4.06443855,  5.51326034, -3.07393091, -1.10748696,
          1.72600263, -0.93844389, -0.5727557 , -0.4023039 , -2.21052423,
          1.22759166,  0.56560982, -2.43442748,  0.95569399,  0.95410238,
          0.82511985, -1.9836404 ,  0.72258073, -0.65532799,  0.90176445,
         -1.21834746,  0.04336922,  0.61978983,  1.37723651,  1.97126729,
         -0.43506486, -0.61911546,  0.28581814,  0.09874446, -0.25812623,
          0.30705309,  0.15939975,  0.43408239,  0.37326888, -0.43549833,
         -0.26620423,  0.82228618, -0.19263848,  1.19107829,  0.59025522,
          1.68380506, -1.41595849, -1.70499353, -1.70329269,  1.6272417 ,
         -0.58730855, -6.09292568, -5.74071887,  1.15412317,  1.77970345,
          2.12745742, -2.28496331, -4.32958283])])